<div class="container-lg">
  <main class="mt-5">
    <div class="single-item row justify-content-center wow animate__backInRight p-3">
      <div class="position-relative p-0">
        <img class="object-fit-cover w-100" src="assets/images/image1.png" alt="Картинка 1">
        <div class="text-content position-absolute top-50 translate-middle-y">
          <h1 class="title mb-lg-5 mb-md-4 fs-1 fw-bold">Скидки на травяные чаи</h1>
          <p class="text fs-5 mb-lg-5 mb-md-4  text-wrap">Узнай все подробности, заполнив заявку</p>
          <a type="button" class="slide-btn btn btn-primary fs-5 btn-lg w-50" routerLink="/products">Выбрать чай</a>
        </div>
      </div>
    </div>

    <div class="questions mt-5 mb-5">
      <h2 class="questions__title fs-2 fw-bold text-center">Ответы на часто задаваемые вопросы</h2>
      <div class="accordion mt-4 w-60 col-md-8 mx-auto" id="accordion">
        <h3 class="accordion-btn btn btn-primary border border-0 rounded-2 text-start p-3">Собираете ли вы
          подарочные боксы?</h3>
        <div>
          <p>
            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
          </p>
        </div>
        <h3 class="accordion-btn btn btn-primary border border-0 rounded-2 text-start p-3">Сколько у вас
          разновидностей чая?</h3>
        <div>
          <p>
            Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
            purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
            velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
            suscipit faucibus urna.
          </p>
        </div>
        <h3 class="accordion-btn btn btn-primary border border-0 rounded-2 text-start p-3">В какой срок
          осуществляется доставка?</h3>
        <div>
          <p>
            Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
            Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
            ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
            lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
          </p>
        </div>
        <h3 class="accordion-btn btn btn-primary border border-0 rounded-2 text-start p-3">У вас обновляется
          ассортимент?</h3>
        <div>
          <p>
            Cras dictum. Pellentesque habitant morbi tristique senectus et netus
            et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
            mauris vel est.
          </p>
          <p>
            Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
          </p>
        </div>
        <h3 class="accordion-btn btn btn-primary border border-0 rounded-2 text-start p-3">Какого объема у вас
          пачки чая?</h3>
        <div>
          <p>
            Cras dictum. Pellentesque habitant morbi tristique senectus et netus
            et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
            mauris vel est.
          </p>
          <p>
            Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
          </p>
        </div>
      </div>
    </div>

  </main>

  <app-popup data="Посмотрите наши чайные коллекции"></app-popup>

  <div *ngIf="loading" class="loader-bg">
    <div class="loader">

    </div>
  </div>
</div>
