<div class="container-lg">
  <div class="tea-collection mt-5">
    <h2 class="cards-title fs-2 fw-bold text-center mb-5">Наши чайные коллекции</h2>
    <div class="row row-cols-3-sm mr-0 ml-0">

      <div class="cards">

        <div class="product" *ngFor="let product of products">
          <div class="d-flex justify-content-center">
            <img src="{{product.image}}" class="w-75  text-center" alt="{{product.title}}">
          </div>
          <div class="card-body">
            <h5 class="card-title fw-bold mb-2 fs-4">{{product.title}}</h5>
            <p class="card-text">{{(product.description | slice: 0:300) + ' ...'}}</p>
          </div>


          <div class="d-flex justify-content-center">
            <a [routerLink]="['/products', product.id]" class="btn btn-primary w-50 hvr-push mt-2">Подробнее</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
